<<<<<<< HEAD
.home-page {
    min-height: 600px;
    background-color: #b3e9ff;
    padding-top: 120px;
}

.home-page h1 {
    text-align: center;
    margin-bottom: 0;
=======
.home-page {
    min-height: 600px;
    background-color: #b3e9ff;
    padding-top: 120px;
}

.home-page h1 {
    text-align: center;
    margin-bottom: 0;
>>>>>>> 432fa2d14a226d65e57262af4e4d497d02ba0488
}